@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Add Genre</h2>
<form class="form" action="formAddGenres" method="post">
    <input type="text" class="form-control" placeholder="Genre Name" name="GenreName">
    <br/> <br/>
    <input class="button" type="submit">
</form>
