@model IEnumerable<Movies.Web.Models.MovieData>
@{
    ViewData["Title"] = "Movies";
}
<h2>List of Movies</h2>


<a class="button" asp-area="" asp-controller="Report" asp-action="AddMovie">Add Movie</a>
<div class="grid grid-cols-4">
@foreach (var emp in Model)
{
   <div class="Divcontainer">
     <div class="upper-data">
            <div class="weather-data">
            <div class="moviename"> @emp.MovieName</div>
            </div>
           
    </div>
    <div class="lower-data">
            <div class="more-info-container">
                <div class="infoL">
                    Release Year : @emp.ReleaseYear
                    </div>
                <div class="infoL">
                    Genre : @emp.Genre.GenreName
                </div>
            </div>
        
    </div> 
  </div>
}
</div>

    
